@value Black, White from '../../common/colors.css';
@value Container from '../../common/size.css';

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
/*font-family: 'Do Hyeon', sans-serif;*/

span {
  display: block;
}
.container {
  max-width: Container;
  margin: 0 auto;
}
.box {
  width: 100%;
  height: 100%;
}
.upDateBox {
  border: 1px solid gainsboro;
  display: flex;
  border-bottom: 0;
}
.upDateBox:last-child {
  border-bottom: 1px solid gainsboro;
}
.DeleteBox {
  border: 1px solid gainsboro;
}
/*작품 개별*/
.exBox {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.thumBox {
  width: 138px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gainsboro;
}
.eximg {
  border-radius: 50%;
  width: 60%;
  height: 60%;
  border-right: 1px solid gainsboro;
}

.title {
  width: 18%;
  font-size: 0.8rem;
  border-right: 1px solid gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user {
  font-size: 0.8rem;
  width: 14%;
  border-right: 1px solid gainsboro;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments {
  font-size: 0.8rem;
  width: 70%;
  border-right: 1px solid gainsboro;
  padding: 0.2rem;
}
.commentsDay {
  width: 15%;
  font-size: 0.8rem;
  border-right: 1px solid gainsboro;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnBox {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 70px;
  height: 30px;
  border: none;
  background-color: #e7e7e7;
  outline: none;
  cursor: pointer;
  font-size: 0.7rem;
}
.btn:hover {
  background-color: rgb(201, 9, 9);
  color: white;
}

@media screen and (max-width: 780px) {
  .thumBox {
    width: 100px;
    height: 100px;
  }
  .infoBox {
    flex: 18rem;
    margin-top: 5px;
  }
  .title {
    font-size: 1.2rem;
    text-indent: 4px;
  }
  .author {
    font-size: 0.9rem;
    text-indent: 4px;
  }
  .date {
    font-size: 0.8rem;
    text-indent: 4px;
  }
}

@media screen and (max-width: 480px) {
  .thumBox {
    width: 100px;
    height: 100px;
  }
  .infoBox {
    flex: 13rem;
    margin-top: 5px;
  }
  .title {
    font-size: 1.2rem;
    text-indent: 4px;
  }
  .author {
    font-size: 0.9rem;
    text-indent: 4px;
  }
  .date {
    font-size: 0.8rem;
    text-indent: 4px;
  }
}
